In [31]:
from joblib import load
import pandas as pd

# Load the model from the file
model = load('STACKED-SVR_RF.joblib')

In [32]:
df = pd.read_csv('onetest.csv')

In [33]:
df

,year,Typhoon,municipality,province,startdate,enddate,landfalldate,landfall_time,windspeed,rainfall24,...,rainfallaverage,ricearea,riceyield,distance,areayieldrataio,percentageofdamagedarea,damagedarea,yieldafterdamage,farmgateprice,damagecosttorice
0,2018,Maliksi,Aborlan,Palawan,03/06/2018,12/06/2018,08/06/2018,0:00:00,0,0.474167,...,0.296354,2870,3.37,0,851.632047,0.24707,709.091324,0.832626,20.79,11135504

In [34]:
df = df.drop(['year','Typhoon','municipality','province','startdate','enddate','landfalldate', 'landfall_time', 'rainfallaverage', 'areayieldrataio', 'percentageofdamagedarea', 'damagedarea', 'yieldafterdamage', 'damagecosttorice'], axis=1)

In [35]:
df

,windspeed,rainfall24,rainfall6,ricearea,riceyield,distance,farmgateprice
0,0,0.474167,0.93,2870,3.37,0,20.79

In [36]:
df.reset_index(drop=True, inplace=True)

In [76]:
import numpy as np

# Assume you have a trained SVR model and a single row of data
single_row = df.iloc[0]  # Get the first row of df

# Create 5 versions of the single row with different values for one of the features
multiple_rows = pd.concat([single_row]*5, axis=1).T  # Duplicate the row 5 times

# Generate new values for 'rainfall24' that are different from each other
mean = df['rainfall24'].mean()  # Calculate the mean of 'rainfall24'
new_values = mean + np.linspace(5, -5, 5)  # Generate 5 values around the mean
multiple_rows['rainfall24'] = new_values

In [77]:
multiple_rows

,windspeed,rainfall24,rainfall6,ricearea,riceyield,distance,farmgateprice
0,0.0,5.474167,0.93,2870.0,3.37,0.0,20.79
0,0.0,2.974167,0.93,2870.0,3.37,0.0,20.79
0,0.0,0.474167,0.93,2870.0,3.37,0.0,20.79
0,0.0,-2.025833,0.93,2870.0,3.37,0.0,20.79
0,0.0,-4.525833,0.93,2870.0,3.37,0.0,20.79

In [78]:
# Make a prediction for each version of the row
predictions = model.predict(multiple_rows)

# Print the predictions
print(predictions)

[22506170.0601798  19394718.49213255 18746737.23976545 19090584.47023841
  6590850.22227891]

c:\Users\Asus\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- farmgateprice
- ricearea
- riceyield
Feature names seen at fit time, yet now missing:
- area
- fgprice
- yield

  warnings.warn(message, FutureWarning)
c:\Users\Asus\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- farmgateprice
- ricearea
- riceyield
Feature names seen at fit time, yet now missing:
- area
- fgprice
- yield

  warnings.warn(message, FutureWarning)

In [57]:
std

0.01

In [ ]:
model.predict([[0.538, 6.575, 65.2, 4.090, 296.0, 15.3, 4.98]])

c:\Users\Asus\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
c:\Users\Asus\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([691556.06197965])